<ion-view view-title="办公用品入库" cache-view="false">
  <ion-nav-bar class="bar-erp-blue" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-clear button-block button-light icon-small asset-icon-back"
              style="margin:0px; font-size: 25px;color: white" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear button-block button-light asset-icon-add"
              style="margin:0px;font-size: 14px;color: white" ng-click="getFilter()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="content-bg" scroll="true" overflow-scroll="true">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh(true)" pulling-icon="rrs-icon-pull-down"></ion-refresher>
    <div class="item item-input-inset ">
      <label class="item-input-wrapper">
        <i class="asset-icon-search" style="color: #AAAAAA;"></i>
        <input type="search" placeholder="请输入关键字查询" ng-model="searchContent" ng-change="goSearchContent()">
      </label>
    </div>

    <div class="row row-no-padding no-margin" style="line-height: 15px;vertical-align: middle;"
         ng-repeat="item in assetCardList |filter:searchContent" ng-click="goDetail(item)">
      <div class="col"
           style="width:100%;background-color:#ffffff;border-radius: 10px;margin: 4px;padding:5px;display: inline-block">
        <div class="row row-no-padding padding-horizontal no-margin">
          <div style="width: 100%" class=" font-small ">
            <div class="row row-no-padding" style="border-bottom: solid 1px #dedfe0;margin:0px;">
              <div class="col col-20"
                   style="line-height: 15px;height: 18px;border-radius: 5px;margin: 10px 10px 5px 5px;padding-top:1px;text-align: center;color: #fff;float: left;
                             background-color:#4b8dfa;">
                {{item.whName}}
              </div>
            </div>
            <div class="row row-no-padding" style="margin: 3px 0px;color: #434e4a;">
              <div class="col col-60">入库单号：{{item.billCode}}
              </div>
              <div class="col col-50">入库日期：{{item.orderDate}}</div>
            </div>
            <div class="row row-no-padding" style="margin: 3px 0px;color: #434e4a;">
              <div class="col col-60"style="margin-left: 13px">经办人：{{item.psnName}}</div>
              <div class="col col-50"style="margin-left: 14px">描述：{{item.remarks}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center;padding-top: 25%;color: rgb(173,173,173)" ng-hide="blank">
      <div class="asset-icon-coffee_1" style="font-size: 50px"></div>
      <span>暂无入库记录~~</span>
    </div>
    <!--上拉加载-->
    <ion-infinite-scroll ng-if="hasMore" on-infinite="doLoadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>


